p {
    margin-left: 20px;
    margin-right: 20px;
}

.text-body {
    border-width:2px;
    border-style:solid;
    border-color: black;
}

.image_deck {
    content: "";
    clear: both;
    display: table;
}

.image_box {
    float: left;
    width: 32%;
    padding: 3px;
}