.day{
    width: 30em;
    height: 3em;
}
.time{
    width: 12em;
    border-left: solid black;
}

table{
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}
tr{
    border-style: solid;
    border-color: black;  
    padding: 1em;
    font-family: 'Arial';
}