body{
    font-family: "Arial";
}
.day{
    width: 30em;
    height: 3em;
}
.time{
    width: 15em;
    border-left: solid black;
}

table{
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}
tr{
    border-style: solid;
    border-color: black;  
}
td{
    padding: 1em;
}

.title{
    width: 20em;
    height: 5em;
}
.film-time{
    width: 10em;
    height: 5em;
    border-left: solid black;

}
.thumbnail{
    width: 20em;
    height: 5em;
    border-left: solid black;

}